<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-auth-form (submitted)="handleRegistration($event)">
    <h3>
      Register
    </h3>
    <button type="submit">
      Register
    </button>
  </app-auth-form>
  <app-auth-form (submitted)="handleLogin($event)">
    <h3>
      Login
    </h3>
    <app-auth-remember (checked)="handleRememberMe($event)"></app-auth-remember>
    <app-auth-remember (checked)="handleRememberMe($event)"></app-auth-remember>
    <app-auth-remember (checked)="handleRememberMe($event)"></app-auth-remember>
    <button type="submit">
      Submit
    </button>
  </app-auth-form>
</div>
